.ipynb_checkpoints/
sm_sample_files/
testdata/
test_output_data/
test_input_data/
*.idea*
__pycache__
python/py_test*.py
*pytesmo_example*
input_data/
analysis_output/
*python_metadata*
iris/
ignore_scripts/
*.lnk
SWE_ts_csv/
/python/test_notebooks/
*test*.ipynb*test*.ipynb
/python/*.nc